DATABASE=(default)
DATABASE_REGION=us-central1
AUTH_TYPE=UsernamePassword
SMTP_CONNECTION_URI=smtp://info@pcdoctor.ai@mail.pcdoctor.com.ec:587
SMTP_PASSWORD=projects/innerspark-workforce-ai/secrets/inneros-smtp-password/versions/latest
MAIL_COLLECTION=mail
DEFAULT_FROM=InnerOS <info@pcdoctor.ai>
TTL_EXPIRE_TYPE=never
TTL_EXPIRE_VALUE=1
